@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #070c18;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/background-image.svg');
}

* {
  outline: none;
}
